

.header {
    font-size: 64px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.75);
    width: 110%;
    display: flex;
    justify-content: center;
}

#content {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content::before {
    content: "";
    background: url(./bar-image.jpeg);
    background-size: cover;
    position: absolute;
    top: 30px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0.45;
}

#main-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
}

.beer-price, .beer-text {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid black;

}

.beer-price {
    display: flex;
    justify-content: end;
}