
html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    min-width: 920px;
    font-family: 'Patrick Hand SC', cursive;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

#button-group {
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.button {
    border: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    background: none;
    color: white;
    font-size: 20px;
    font-family: 'Patrick Hand SC', cursive;
}

.header {
    
    font-size: 102px;
    position: absolute;
    color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: .3px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    animation: 1s fadeIn;
}

#content {
    position: relative; 
    height: 100vh;
    width: 90%;
    left: 5%;
    right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
}

#content::before {
    content: "";
    background: url(./bar-image.jpeg);
    background-size: cover;
    position: absolute;
    top: 40px;
    right: 0px;
    bottom: 40px;
    left: 0px;
    opacity: 0.45;
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    color: white;
    background-color: black;
    opacity: 1.0;
    flex: 0 0 auto;
    animation: 5s fadeIn;
}


.text-container {
    top: 80px;
    position: relative;
    height: 60%;
    width: 80%;
    background-color: rgb(0, 0, 0, .70);
    border: 2px solid white;
    border-radius: 30px;
}

.main-text-container {
    top: 80px;
    position: relative;
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 100px 300px;
}

#lizard {
    position: relative;
    height: 90px;
    width: auto;
    padding-bottom: 10px;
    padding-left: 10px;
}


#secondary-title-text {
    display: flex;
    font-size: 40px;
    padding: 10px;
    position: relative;
    top: -40px;
    justify-self: center;
    align-self: flex-start;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    animation: 1s fadeIn;
}

#main-page-text {
    display: flex;
    font-size: 24px;
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 100px;
    padding-right: 100px;
}

.beer-page-text {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    padding: 10px;
    white-space: nowrap;
}

.beer-price, .beer-text {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.beer-price {
    display: flex;
    justify-content: end;
}

#events-page-text {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px, 1fr, 150px, 1fr, 150px, 1fr;
   
}

.events-date {
    display: flex;
    justify-self: center;
    align-self: flex-end;
    padding-top: 10px;
    border-bottom: 1px solid white;
}

.events {
    justify-self: center;
    align-self: start;
    padding: 10px;
}